@import url("fonts/RawengulkSans/RawengulkSans.css");
@import url("fonts/icons.css");
/* line 9, scss/_layout.scss */
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
@media screen and (min-width: 50em) {
  /* line 9, scss/_layout.scss */
  .content {
    top: 0;
    bottom: 0;
    left: 0;
    width: 20em;
  }
}

/* line 23, scss/_layout.scss */
.container {
  background: #fff;
  padding: 1em;
  box-shadow: 0 0 0.5em rgba(50, 50, 50, 0.5);
}

/* line 3, scss/_map.scss */
html {
  height: 100%;
}

/* line 6, scss/_map.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/blank_bg.gif");
  overflow: hidden;
}

/* line 13, scss/_map.scss */
#map-canvas {
  height: 100%;
}
@media screen and (min-width: 50em) {
  /* line 13, scss/_map.scss */
  #map-canvas {
    margin-left: 22em;
  }
}

/* line 17, scss/_typography.scss */
a {
  color: #0a8396;
  cursor: pointer;
  text-decoration: underline;
}

/* line 21, scss/_typography.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans;
  color: #333333;
}

/* line 26, scss/_typography.scss */
h1, h2 {
  font-family: "rawengulksansregular";
  color: #5fafc1;
  font-weight: normal;
  line-height: 1;
  padding: 0 0 0.5em;
  border-bottom: solid 1px;
  margin: 0;
}

/* line 36, scss/_typography.scss */
h2 {
  padding-top: 0.5em;
}

/* line 40, scss/_typography.scss */
.link {
  cursor: pointer;
}

/* line 13, scss/_icons.scss */
.icon.info {
  float: right;
}
/* line 15, scss/_icons.scss */
.icon.info:before {
  background-color: silver;
  content: "i";
}

/* line 23, scss/_icons.scss */
.icon.org-size:before, .icon.members:before {
  background-color: #0a960a;
  content: "\e003";
}

/* line 27, scss/_icons.scss */
.icon.projects:before {
  background-color: #0a8396;
  content: "\e002";
}

/* line 31, scss/_icons.scss */
.icon.shows:before {
  background-color: #c80a0a;
  content: "\e001";
}

/* line 35, scss/_icons.scss */
.icon.venue:before {
  background-color: #960a8a;
  content: "\e000";
}

/* line 42, scss/_icons.scss */
.icons {
  display: block;
  overflow: hidden;
}

/* line 47, scss/_icons.scss */
.icon {
  line-height: 2;
  display: block;
  float: left;
  margin-right: 0.5em;
  overflow: hidden;
  cursor: help;
}
/* line 54, scss/_icons.scss */
.icon:before {
  text-align: center;
  color: #FFF;
  font-family: 'dr-icons';
  display: block;
  float: left;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 0.5em;
}

/* line 67, scss/_icons.scss */
.networklink {
  color: #0a8396;
  cursor: pointer;
  text-decoration: underline;
}

/* line 1, scss/_forms.scss */
select {
  width: 100%;
  margin: 1em auto;
}

/* line 7, scss/_languages.scss */
p.en, h1.en {
  display: none;
}

/* line 11, scss/_languages.scss */
.en p.en, .en h1.en {
  display: block;
}

/* line 7, scss/_languages.scss */
p.fr, h1.fr {
  display: none;
}

/* line 11, scss/_languages.scss */
.fr p.fr, .fr h1.fr {
  display: block;
}

/* line 7, scss/_languages.scss */
p.de, h1.de {
  display: none;
}

/* line 11, scss/_languages.scss */
.de p.de, .de h1.de {
  display: block;
}

/* line 7, scss/_languages.scss */
p.it, h1.it {
  display: none;
}

/* line 11, scss/_languages.scss */
.it p.it, .it h1.it {
  display: block;
}

/* line 17, scss/_languages.scss */
#switcher {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  z-index: 10;
}

/* line 27, scss/_languages.scss */
.flags {
  font-size: 2em;
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 33, scss/_languages.scss */
.flags input {
  display: none;
}

/* line 37, scss/_languages.scss */
.flag {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  border: solid #ddd;
  margin: 0 0 0.25em;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
}
/* line 50, scss/_languages.scss */
.flag:hover {
  opacity: 0.8;
}

/* line 55, scss/_languages.scss */
input[type=radio]:checked + .flag {
  opacity: 1;
}

/* UK */
/* line 60, scss/_languages.scss */
.flag.en {
  background: #c80a0a;
}
/* line 62, scss/_languages.scss */
.flag.en:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: .5em;
  border-style: solid;
  border-width: 0 0 .5em 1em;
  border-color: transparent transparent transparent #0a6496;
  box-shadow: 0 0 0 .125em #fff;
}
/* line 74, scss/_languages.scss */
.flag.en:after {
  display: block;
  content: "";
  position: absolute;
  background: #fff;
  width: .125em;
  height: .65em;
  left: 66%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* Francais FR */
/* line 93, scss/_languages.scss */
.flag.fr:before {
  background: #0a6496;
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: .333em;
  height: 1em;
}
/* line 102, scss/_languages.scss */
.flag.fr:after {
  display: block;
  content: "";
  width: .333em;
  height: 1em;
  float: right;
  background: #c80a0a;
}

/* Italiano IT */
/* line 116, scss/_languages.scss */
.flag.it:before {
  background: #0a960a;
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: .333em;
  height: 1em;
}
/* line 125, scss/_languages.scss */
.flag.it:after {
  display: block;
  content: "";
  width: .333em;
  height: 1em;
  float: right;
  background: #c80a0a;
}

/* Deutchland DE */
/* line 137, scss/_languages.scss */
.flag.de {
  background: #c80a0a;
}
/* line 139, scss/_languages.scss */
.flag.de:before {
  background: #ffc800;
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 1em;
  height: .333em;
}
/* line 148, scss/_languages.scss */
.flag.de:after {
  display: block;
  content: "";
  width: 1em;
  height: .333em;
  background: black;
}
